<div class="login">
  <div class="login__card">
    <h1 class="login__title">Entrar</h1>

    <div class="login__portal">
      <button
        class="portal__btn"
        type="button"
        [class.portal__btn--active]="portal === 'agency'"
        (click)="setPortal('agency')"
      >
        Sou Agencia
      </button>
      <button
        class="portal__btn"
        type="button"
        [class.portal__btn--active]="portal === 'client'"
        (click)="setPortal('client')"
      >
        Sou Cliente
      </button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login__form">
      <label class="field">
        <span class="field__label">Email</span>
        <input class="field__input" type="email" formControlName="email" autocomplete="username" />
      </label>

      <label class="field" *ngIf="portal === 'agency'">
        <span class="field__label">Codigo da agencia</span>
        <input class="field__input" type="text" formControlName="agencyCode" autocomplete="off" />
      </label>

      <label class="field" *ngIf="portal === 'client'">
        <span class="field__label">Codigo da empresa</span>
        <input class="field__input" type="text" formControlName="companyCode" autocomplete="off" />
      </label>

      <label class="field">
        <span class="field__label">Senha</span>
        <input
          class="field__input"
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
      </label>

      <button class="btn" type="submit" [disabled]="loading">
        {{ loading ? 'Entrando...' : 'Entrar' }}
      </button>
    </form>

    <div class="login__recover" *ngIf="portal === 'client'">
      <button class="link" type="button" (click)="toggleRecover()">
        Nao sei meu codigo
      </button>

      <div class="login__recover-form" *ngIf="recoverVisible">
        <form [formGroup]="recoverForm" (ngSubmit)="recoverCompanyCode()" class="login__form">
          <label class="field">
            <span class="field__label">Email</span>
            <input class="field__input" type="email" formControlName="email" autocomplete="email" />
          </label>

          <button class="btn btn--ghost" type="submit" [disabled]="recovering">
            {{ recovering ? 'Enviando...' : 'Enviar codigo' }}
          </button>
        </form>
      </div>

      <div class="success login__hint" *ngIf="recoverMessage">{{ recoverMessage }}</div>
      <div class="error login__hint" *ngIf="recoverError">{{ recoverError }}</div>
    </div>

    <div class="login__recover" *ngIf="portal === 'agency'">
      <button class="link" type="button" (click)="toggleAgencyCodeRecover()">
        Nao sei meu codigo da agencia
      </button>

      <div class="login__recover-form" *ngIf="agencyCodeRecoverVisible">
        <form
          [formGroup]="agencyCodeRecoverForm"
          (ngSubmit)="recoverAgencyCode()"
          class="login__form"
        >
          <label class="field">
            <span class="field__label">Email</span>
            <input class="field__input" type="email" formControlName="email" autocomplete="email" />
          </label>

          <button class="btn btn--ghost" type="submit" [disabled]="agencyCodeRecovering">
            {{ agencyCodeRecovering ? 'Enviando...' : 'Enviar codigo' }}
          </button>
        </form>
      </div>

      <div class="success login__hint" *ngIf="agencyCodeRecoverMessage">
        {{ agencyCodeRecoverMessage }}
      </div>
      <div class="error login__hint" *ngIf="agencyCodeRecoverError">
        {{ agencyCodeRecoverError }}
      </div>
    </div>

    <div class="login__recover" *ngIf="portal === 'agency'">
      <button class="link" type="button" (click)="toggleAgencyRecover()">
        Esqueci minha senha
      </button>

      <div class="login__recover-form" *ngIf="agencyRecoverVisible">
        <form
          [formGroup]="agencyRecoverForm"
          (ngSubmit)="requestAgencyPasswordToken()"
          class="login__form"
        >
          <label class="field">
            <span class="field__label">Email da agencia</span>
            <input class="field__input" type="email" formControlName="email" autocomplete="email" />
          </label>

          <button class="btn btn--ghost" type="submit" [disabled]="agencyRecovering">
            {{ agencyRecovering ? 'Enviando...' : 'Enviar token' }}
          </button>
        </form>

        <form
          [formGroup]="agencyResetForm"
          (ngSubmit)="confirmAgencyPasswordToken()"
          class="login__form"
        >
          <label class="field">
            <span class="field__label">Email da agencia</span>
            <input class="field__input" type="email" formControlName="email" autocomplete="email" />
          </label>
          <label class="field">
            <span class="field__label">Token</span>
            <input class="field__input" type="text" formControlName="token" autocomplete="one-time-code" />
          </label>
          <label class="field">
            <span class="field__label">Nova senha</span>
            <input
              class="field__input"
              type="password"
              formControlName="newPassword"
              autocomplete="new-password"
            />
          </label>

          <button class="btn btn--ghost" type="submit" [disabled]="agencyResetting">
            {{ agencyResetting ? 'Salvando...' : 'Atualizar senha' }}
          </button>
        </form>
      </div>

      <div class="success login__hint" *ngIf="agencyRecoverMessage">{{ agencyRecoverMessage }}</div>
      <div class="success login__hint" *ngIf="agencyResetMessage">{{ agencyResetMessage }}</div>
      <div class="error login__hint" *ngIf="agencyRecoverError">{{ agencyRecoverError }}</div>
      <div class="error login__hint" *ngIf="agencyResetError">{{ agencyResetError }}</div>
    </div>

    <div class="error login__hint" *ngIf="error">{{ error }}</div>
  </div>
</div>
